.end-bar {
  background-color: var(--illustration-secondary1);
  bottom: 0;
  left: 0;
  padding: 10px 5px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.end-bar ul {
  align-items: center;
  color: var(--illustration-stroke1);
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

.end-bar button {
  border: none;
  background-color: transparent;
}

.end-bar .icone {
  color: var(--illustration-stroke1);
  font-size: 22px;
}

.category {
  align-items: center;
  border-radius: 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 25px;
}

.category .square {
  color: var(--illustration-stroke1);
  font-size: 8.5px;
  line-height: 0;
  margin: 0 2px;
}