main {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  width: 100%;
}

main .login-body {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

form {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 80%;
}

form label {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

form select, form option {
  background-color: white;
  border: none;
  border-radius: 10px;
  height: 30px;
  margin: 10px 0;
  padding: 5px 30px;
  width: 90%;
}

form input{
  border: none;
  border-radius: 10px;
  height: 30px;
  margin: 10px 0;
  padding: 10px 30px;
  width: 90%;
}

form .icon-inputs {
  transform: translateX(23px);
}

form button {
  align-self: stretch;
  background-color: var(--button1);
  border: none;
  border-radius: 10px;
  color: var(--button-text1);
  font-weight: 700;
  height: 30px;
  margin: 10px 0;
}

.login-button {
  background-color: var(--button1);
  border: none;
  border-radius: 10px;
  color: var(--button-text1);
  font-weight: 700;
  margin: 10px 0;
  padding: 7px 0;
  width: 80%;
}

form button:disabled {
  background-color: var(--button-disabled1);
  font-weight: 100;
}

@media only screen and (min-width: 1000px) {
  main {
    margin: 0 auto;
    margin-top: 30px;
    width: 20%;
  }
}
