.start-bar {
  background-color: var(--illustration-secondary1);
  top: 0;
  left: 0;
  padding: 0 5px;
  position: fixed;
  width: 100%;
  z-index: 10;
}

.start-bar ul {
  align-items: center;
  color: var(--illustration-stroke1);
  display: flex;
  justify-content: space-around;
  list-style: none;
  width: 100%;
}

.start-bar li .icone {
  color: var(--illustration-stroke1);
  font-size: 17px;
}

.start-bar label {
  display: flex;
  flex-grow: 1;
}

.start-bar label input {
  border: none;
  border-radius: 5px;
  padding: 5px 30px;
  width: 100%;
}

.start-bar label .search-icone {
  color: var(--illustration-stroke1);
  transform: translateX(-25px);
}

.start-bar .filter-icon, .start-bar .cart-icon {
  margin: 0 10px;
}

.start-bar .filter-icon button, .start-bar .cart-icon button {
  border: none;
  background-color: transparent;
}