.user-profile {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.user-profile .user-photo {
  margin: 0 auto;
  width: 150px;
}

.user-profile div {
  justify-content: flex-end;
  display: flex;
  padding: 0 20px;
  width: 100%;
}

.user-profile .edit-profile {
  border: none;
  background-color: transparent;
  display: flex;
}

.user-profile label {
  flex-grow: 1;
}

.user-profile input {
  flex-grow: 1;
  width: 0;
}

.user-profile .settings-profile {
  align-self: flex-start;
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin: 0 20px;
}