@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");

:root {
  --background1: #faeee7;
  --button1: #ff8ba7;
  --button-disabled1: #ffccd8;
  --button-text1: #33272a;
  --paragraph1: #594a4e;
  --illustration-main1: #fffffe;
  --illustration-secondary1: #ffc6c7;
  --illustration-highlight1: #ff8ba7;
  --illustration-stroke1: #33272a;
  --illustration-tertiary1: #c3f0ca;

}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, #root {
  background-color: var(--background1);
  color: var(--paragraph1);
  height: 100vh;
  position: relative;
  width: 100%;
}